# Python
__pycache__/
*.pyc
*.pyo
.Python
*.egg-info/

# Virtual environment
venv/
env/

# Django
*.sqlite3
media/
staticfiles/

# Environment variables
.env
.env.*

# Silk profiler data
silk/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Celery
celerybeat-schedule
celerybeat.pid